.App {
  text-align: center;
  height: 100vh;
  margin-top: 0;
}
nav {
  background: #eee;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
input 
li {
  list-style: none;
}
#product-card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 411) {
  nav {
    width: 100%;
    margin-right: 0;
  }
}
@media(max-width: 375) {
  nav {
    width: 100%;
    margin-right: 0;
  }
  body {
    width: 100vw;
  }
}
/* FORM STYLING  IPAD*/
@media (max-width:1024) {
  input{
    width: 65%;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
