.App {
  text-align: center;
  height: 100vh;
  margin-top: 0;
}
body {
  width: 100vw;
}
nav {
  background: #eee;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.search-bar{
  margin-top: -52%;
  z-index: 1;
  position: 'relative'
}

li {
  list-style: none;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: flex-end; */
  margin: 0 ; 
}
form {
  /* for mobile margin-top: 25%; */
    margin-top: 15%;
}
#remove {
  color: red;
}

#product-card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: 411) {
  nav {
    width:100vw;
    margin-right: 0;
  }
  input{
    width: 65%;
  }
  form {
       margin-top: 25%;
  }
}
@media(max-width: 375) {
  nav {
    width: 100vw;
  }
  form {
   margin-top: 25%;
  }
}
/* FORM STYLING  IPAD*/
@media (min-width:1024) {
  input{
    width: 65%;
  }
  form {
       margin-top: 35%;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .button-deez {
   background: '#6B63FF'
 }

/* width: 58%;
    height: 32px;
    padding: 0 11px;
    margin-top: 51%;
    margin-left: 12%;
    margin-right: 37%; */