.App {
  text-align: center;
  height: 75vh;
  margin-top: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.nav-items {
  margin-left: 78%;
}


li {
  list-style: none;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 ; 
}
form {
  /* for mobile margin-top: 25%; */
    margin-top: 15%;
}
#remove {
  color: red;
}

#product-card {
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

@media (min-width: 411) {
  nav {
    width:100vw;
    margin-right: 0;
  }
  input{
    width: 65%;
  }
  form {
       margin-top: 25%;
  }
}
/* IPHONE X */
@media(max-width: 375) {
  nav {
    width: 100vw;
  }
  form {
   margin-top: 25%;
  }
  footer{
    height: 100vh;
    
    width: 100%;
    overflow: hidden;
  }
}
/* FOR STYLING  IPAD*/
@media (min-width:1024) {
  input{
    width: 65%;
  }
  form {
       margin-top: 35%;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 .button-deez {
   background: '#6B63FF'
 }


/* COntainer for login */
    .log{
      display: flex;
      flex-direction: column;
     background: rgb(25%, 32%, 71%);
      align-items: center;
      margin-top: 4%;
      margin-left: 25%;
      border-radius: 10px;
      width: 50%;
    }
    

    /* INPUT */
    input {
      margin: 1%;
    }
    .input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}
/* Styling for the svgs*/
.background-pic-login {
  margin-top: -2%;    
  }
/* LOGIN BUTTON */
.login100-form-btn {
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    border-radius: 25px;
}

.symbol-input100 {
  font-size: 1.3rem;
  z-index: 1;
  margin-top: 1.6%;
  margin-left: -17%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.symbol-input200 {
  margin-top: 6%;
  margin-left: -17%;
  display: flex;
  flex-direction: row;
  position: absolute;
}

/* Order Section */
.order-section{
  height: 75%;
  margin-bottom: 8%
}

/* Profile Section*/
.profile {
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 5%;
}

/* Footer */
footer {
   background-color: #333;
    padding: 50px;
    color: #ecf0f1;
    margin-top: 25%;

}
 .twitter-link:onhover {
   color: #1DA1F2;
 }